@model WebApplicationProduct.Models.Product

@{
    ViewData["Title"] = "ProductAdded";
}

<h1>ProductAdded</h1>

<span>Id: @Model.Id </span>
<span>Nazwa: @Model.Name </span>
<span>Cena: @Model.Price </span>
<br />
@Html.ActionLink("Wróć", "Index")
